In [ ]:
import sqlalchemy as sqla 
import pandas as pd
import numpy as np



engine = sqla.create_engine('sqlite:////Users/geraldbryant/Classes/Data Analysis/class/Chinook_Sqlite.sqlite')

sql = '''
SELECT LastName, FirstName, Name, Title
        FROM  Customer, Album
        JOIN Track ON Track.AlbumId=Album.AlbumId
        GROUP BY LastName, FirstName,Title
        '''

pd.read_sql(sql, engine).head()

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Blackened,...And Justice For All
1,Almeida,Roberto,Rock You Like a Hurricane,20th Century Masters - The Millennium Collecti...
2,Almeida,Roberto,Fanfare for the Common Man,"A Copland Celebration, Vol. I"
3,Almeida,Roberto,Different World,A Matter of Life and Death
4,Almeida,Roberto,The Number Of The Beast,A Real Dead One

#Project 3 Submission

To get the expected results, I utililized the SQLAlchemy library in order to access the database/SQLite file to join the tables associated with the Track and the Album to link to the customer.