In [1]:
import sqlalchemy as sqla 
import pandas as pd
import numpy as np



engine = sqla.create_engine('sqlite:////Users/geraldbryant/Classes/Data Analysis/class/Chinook_Sqlite.sqlite')

#metadata = sqla.MetaData()
#metadata.reflect(bind=engine)

sql = '''
SELECT LastName, FirstName, Name, Title
        FROM  Customer, Album
        JOIN Track ON Track.AlbumId=Album.AlbumId
        GROUP BY LastName, FirstName
        '''

pd.read_sql(sql, engine).head()

,LastName,FirstName,Name,Title
0,Almeida,Roberto,For Those About To Rock (We Salute You),For Those About To Rock We Salute You
1,Barnett,Julia,For Those About To Rock (We Salute You),For Those About To Rock We Salute You
2,Bernard,Camille,For Those About To Rock (We Salute You),For Those About To Rock We Salute You
3,Brooks,Michelle,For Those About To Rock (We Salute You),For Those About To Rock We Salute You
4,Brown,Robert,For Those About To Rock (We Salute You),For Those About To Rock We Salute You