In [8]:
one = 1
two = 2
three = 3
four = 4
can = can
do = do
python = python
more = more


print(str(one) + ' ' + str(two) + ' ' + str(three) + ' ' + str(four) + ' ' + can  + ' ' + python + ' ' + do  + ' ' + more)

1 2 3 4 can python do more

In [13]:
number1 = 15
number2 = 30
number3 = number1 * number2

print("The result is "+ str(number3))

The result is 450

In [1]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

def compare_function(numbers_x, numbers_y ):
    
   
        if (numbers_x[0] == numbers_x[4]) & (numbers_y[0] == numbers_y[4]):
            print(f"""
              Given list: {numbers_x}
              result is True

              numbers_y = {numbers_y}
              result is False
              """)

compare_function(numbers_x, numbers_y)

In [47]:
this_list = [10, 20, 33, 46, 55]

for divi in this_list:
    if divi % 5 == 0 :
        print(divi)

10
20
55

In [46]:
str_x = "Anjali is good developer. Anjali is a writer"
str_y = "Anjali"

count = 0
start = 0

for i in range(len(str_x)):
    x = str_x.find(str_y, start)
    if(x !=-1):
        start = x+1
        count+=1
print(f"Anjali appeared {count} times")

Anjali appeared 2 times

In [116]:
count = 5
count_set = []

for i in range(1,count+1):
        print(i)

1
2
3
4
5

In [121]:
import numpy as np

Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]

c_array1 = np.array(Temp_K)
cel_array = c_array1 - 273.15

print(cel_array)

[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]