In [309]:

import pandas as pd


data = pd.read_csv('/Users/geraldbryant/classes/Data Analysis/class/Flight status2.csv')


index1 = data.groupby(['Airline','Status']).mean()


index1.insert(5, "Total Flights", [index1.iloc[0][0]+index1.iloc[0][1]+index1.iloc[0][2]+index1.iloc[0][3] ,index1.iloc[1][0]+index1.iloc[1][1]+index1.iloc[2][2]+index1.iloc[3][3],index1.iloc[2][0]+index1.iloc[2][1]+index1.iloc[2][2]+index1.iloc[2][3],index1.iloc[3][0]+index1.iloc[3][1]+index1.iloc[3][2]+index1.iloc[3][3]])

index1

/var/folders/1s/6qqvsj8s4c96mz6qr7gx1hzm0000gn/T/ipykernel_26160/3465231841.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  index1.insert(5, "Total Flights", [index1.iloc[0][0]+index1.iloc[0][1]+index1.iloc[0][2]+index1.iloc[0][3] ,index1.iloc[1][0]+index1.iloc[1][1]+index1.iloc[2][2]+index1.iloc[3][3],index1.iloc[2][0]+index1.iloc[2][1]+index1.iloc[2][2]+index1.iloc[2][3],index1.iloc[3][0]+index1.iloc[3][1]+index1.iloc[3][2]+index1.iloc[3][3]])

                 Los Angeles  Pheonix  San Deigo  San Francisco  Seattle  \
Airline Status
AM West delayed        117.0    415.0       65.0          129.0     61.0
        on time        694.0   4840.0      383.0          320.0    201.0
Alaska  delayed         62.0     12.0       20.0          102.0    305.0
        on time        497.0    221.0      212.0          503.0   1841.0

                 Total Flights
Airline Status
AM West delayed          726.0
        on time         6057.0
Alaska  delayed          196.0
        on time         1433.0

# Conclusion

Based on the calculations above, as a customer who needed to rely on an airline to choose to fly, I would choose AM West. They have a higher count of on time flights in comparision to delayed flights. 

This is the typ of data that customers and companies want to extract to help not only make their services better, but to also promote their services.