In [8]:
one = 1
two = 2
three = 3
four = 4
can = can
do = do
python = python
more = more


print(str(one) + ' ' + str(two) + ' ' + str(three) + ' ' + str(four) + ' ' + can  + ' ' + python + ' ' + do  + ' ' + more)

1 2 3 4 can python do more

In [13]:
number1 = 15
number2 = 30
number3 = number1 * number2

print("The result is "+ str(number3))

The result is 450

In [9]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

def compare_function(numbers_x, numbers_y ):
    
   
        if (numbers_x[0] == numbers_x[4]) | (numbers_y[0] == numbers_y[4]):
            print(f"""
              Given list: {numbers_x}
              result is True

              numbers_y = {numbers_y}
              result is False
              """)

compare_function(numbers_x, numbers_y)

              Given list: [10, 20, 30, 40, 10]
              result is True

              numbers_y = [75, 65, 35, 75, 30]
              result is False

In [3]:
this_list = [10, 20, 33, 46, 55]

for divi in this_list:
    if divi % 5 == 0 :
        print(divi)

10
20
55

In [44]:
str_x = "Anjali is good developer. Anjali is a writer"
str_y = "Anjali"

count = 0
start = 0

for i in range(len(str_x)):
    x = str_x.find(str_y, start)
    if(x !=-1):
        start = x+1
        count+=1
print(f"Anjali appeared {count} times")

Anjali appeared 2 times

In [61]:
count = 5

for i in range(1,count+1):
        for x in range(1,i+1):
                print(i, end="")
        print("")

1
22
333
4444
55555

In [23]:
number = 10

for i in range(1,9):
    for j in range(1,9):
        print(i, i+1*j , end="")
    print("")

1 21 31 41 51 61 71 81 9
2 32 42 52 62 72 82 92 10
3 43 53 63 73 83 93 103 11
4 54 64 74 84 94 104 114 12
5 65 75 85 95 105 115 125 13
6 76 86 96 106 116 126 136 14
7 87 97 107 117 127 137 147 15
8 98 108 118 128 138 148 158 16

In [121]:
import numpy as np

Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]

c_array1 = np.array(Temp_K)
cel_array = c_array1 - 273.15

print(cel_array)

[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

In [41]:
import pandas as pd

student_dict ={
    'Student':["Tommy", "Fred", "Gail", "Gerald", "Randy", "Ariel"],
    'Hair Color':["Brown", "Grey", "Blonde", "Black", "Black","Brown"],
    'Eye Color':["Hazel", "Green", "Blue", "Brown", "Hazel", "Blue"], 
    'Weight in kilograms':[60, 80, 76, 60, 88, 85]
    

}

dict_data= pd.DataFrame(student_dict, index=[1, 2, 3, 4, 5,6])
print(dict_data)
print(dict_data["Hair Color"])
print(pd.DataFrame(dict_data["Eye Color"]))
print(pd.DataFrame(dict_data[["Student", "Weight in kilograms"]]))

group = dict_data.groupby(["Student", "Hair Color", "Eye Color"])
print(group.count())

  Student Hair Color Eye Color  Weight in kilograms
1   Tommy      Brown     Hazel                   60
2    Fred       Grey     Green                   80
3    Gail     Blonde      Blue                   76
4  Gerald      Black     Brown                   60
5   Randy      Black     Hazel                   88
6   Ariel      Brown      Blue                   85
1     Brown
2      Grey
3    Blonde
4     Black
5     Black
6     Brown
Name: Hair Color, dtype: object
Eye Color   Eye Color
1     Hazel
2     Green
3      Blue
4     Brown
5     Hazel
6      Blue
  Student  Weight in kilograms
1   Tommy                   60
2    Fred                   80
3    Gail                   76
4  Gerald                   60
5   Randy                   88
6   Ariel                   85
                              Weight in kilograms
Student Hair Color Eye Color
Ariel   Brown      Blue                         1
Fred    Grey       Green                        1
Gail    Blonde     Blue                         1
Gerald  Black      Brown                        1
Randy   Black      Hazel                        1
Tommy   Brown      Hazel                        1